#root {
  text-align: center;
  color:white;
}
@media only screen and (min-width: 1280px) {
  #root {
    padding-left: 20rem;
    padding-right: 2rem;
  }
}

a{
  transition: .4s;
  color:white;
  cursor: pointer;
}
a:hover{
  border-radius: 5px;
  color:#fcd34d;
}
.active {
  color: #facc15; 
}